

@font-face {
    font-family: lm;
    src: url("fonts/lmroman8-regular.otf");
}

@font-face {
    font-family: lmmono;
    src: url("fonts/lmmono10-italic.otf");
}

/* Liens */
a {
  text-decoration: none;
}
a:link {
    color: #9933ff;
}
a:visited {
    color: #9933ff;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
}
a:active {
  outline: none;
}
a img {
  border: none;
}

img {
  width: 50%;
  height: auto;
}

h1, h2, h3 {
  font-family: 'lm', serif;
  font-weight: normal;
}

h1 {
  font-size: 50pt;
}

h2 {
  font-size: 27pt;
}

h3 {
  font-size: 21pt;
}

p {
  font-family: 'lm', serif;
  max-width: 700px;
}

.code {
  font-family: 'lmmono' !important;
}

.pre {
  font-family: 'lmmono' !important;
}
