body {
	background: #F3F3F3;
	margin: 0px;
}

#testing {	
	margin-top: 40px;
	width: 1000%;
	position: relative;
	transform-origin: 0 0;
}

#nav {
	position: fixed;
	top: 0px;
	padding: 5px;
	border-top: 1px solid black;
	width: 100%;
}

#nav > * {
	margin: 0px 5px;
}

#pad {
	width: 40%;
	height: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	/* display: none; */
}

#pad iframe {
	width: 100%;
	height: 100%;
}
.show {
	display: block;
}

.hide {
	display: none;
}

#inText {
	width: 30%;
}

#pad_link {
	left: 10px;
	color: darkblue;
	text-decoration: none;
}
